<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="transaction">
            <h2><span jhiTranslate="btcPaymentSystemApp.transaction.detail.title">Transaction</span> {{ transaction.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="btcPaymentSystemApp.transaction.initiatedAt" [ngbTooltip]="'btcPaymentSystemApp.transaction.help.initiatedAt' | translate">Initiated At</span></dt>
                <dd>
                    <span>{{ transaction.initiatedAt }}</span>
                </dd>
                <dt><span jhiTranslate="btcPaymentSystemApp.transaction.transactionType" [ngbTooltip]="'btcPaymentSystemApp.transaction.help.transactionType' | translate">Transaction Type</span></dt>
                <dd>
                    <span jhiTranslate="{{ 'btcPaymentSystemApp.TransactionType.' + transaction.transactionType }}">{{ transaction.transactionType }}</span>
                </dd>
                <dt><span jhiTranslate="btcPaymentSystemApp.transaction.isMempool" [ngbTooltip]="'btcPaymentSystemApp.transaction.help.isMempool' | translate">Is Mempool</span></dt>
                <dd>
                    <span>{{ transaction.isMempool }}</span>
                </dd>
                <dt><span jhiTranslate="btcPaymentSystemApp.transaction.txHash" [ngbTooltip]="'btcPaymentSystemApp.transaction.help.txHash' | translate">Tx Hash</span></dt>
                <dd>
                    <span>{{ transaction.txHash }}</span>
                </dd>
                <dt><span jhiTranslate="btcPaymentSystemApp.transaction.fromAddress" [ngbTooltip]="'btcPaymentSystemApp.transaction.help.fromAddress' | translate">From Address</span></dt>
                <dd>
                    <span>{{ transaction.fromAddress }}</span>
                </dd>
                <dt><span jhiTranslate="btcPaymentSystemApp.transaction.toAddress" [ngbTooltip]="'btcPaymentSystemApp.transaction.help.toAddress' | translate">To Address</span></dt>
                <dd>
                    <span>{{ transaction.toAddress }}</span>
                </dd>
                <dt><span jhiTranslate="btcPaymentSystemApp.transaction.expectedAmount" [ngbTooltip]="'btcPaymentSystemApp.transaction.help.expectedAmount' | translate">Expected Amount</span></dt>
                <dd>
                    <span>{{ transaction.expectedAmount }}</span>
                </dd>
                <dt><span jhiTranslate="btcPaymentSystemApp.transaction.amount" [ngbTooltip]="'btcPaymentSystemApp.transaction.help.amount' | translate">Amount</span></dt>
                <dd>
                    <span>{{ transaction.amount }}</span>
                </dd>
                <dt><span jhiTranslate="btcPaymentSystemApp.transaction.serviceFee" [ngbTooltip]="'btcPaymentSystemApp.transaction.help.serviceFee' | translate">Service Fee</span></dt>
                <dd>
                    <span>{{ transaction.serviceFee }}</span>
                </dd>
                <dt><span jhiTranslate="btcPaymentSystemApp.transaction.btcPrice" [ngbTooltip]="'btcPaymentSystemApp.transaction.help.btcPrice' | translate">Btc Price</span></dt>
                <dd>
                    <span>{{ transaction.btcPrice }}</span>
                </dd>
                <dt><span jhiTranslate="btcPaymentSystemApp.transaction.isWithdrawed" [ngbTooltip]="'btcPaymentSystemApp.transaction.help.isWithdrawed' | translate">Is Withdrawed</span></dt>
                <dd>
                    <span>{{ transaction.isWithdrawed }}</span>
                </dd>
                <dt><span jhiTranslate="btcPaymentSystemApp.transaction.user">User</span></dt>
                <dd>
                    {{ transaction.userId }}
                </dd>
                <dt><span jhiTranslate="btcPaymentSystemApp.transaction.block">Block</span></dt>
                <dd>
                    <div *ngIf="transaction.blockId">
                        <a [routerLink]="['/block', transaction.blockId, 'view']">{{ transaction.blockId }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/transaction', transaction.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
