.small {
  .ant-statistic-title {
    margin-bottom: -3px;
  }

  span {
    font-size: 22px;
    line-height: 1;
    margin-bottom: -3px;
  }

  &.suffix .ant-statistic-content-suffix {
    float: right;
    margin-top: 8px;
  }
}

.tiny {
  line-height: 1.2 !important;
  margin-bottom: 7px;

  .ant-statistic-title {
    margin-bottom: -7px;
  }

  span {
    font-size: 14px;
    line-height: 1;
    margin-bottom: 0;
  }
}
