/* .am-number-keyboard-wrapper {
  margin-bottom: 50px;
} */

.amount {
  margin-top: -4px;
}

img {
  margin: -20px auto 0 auto;
  display: block;
}

.ant-divider-horizontal {
  margin: 20px 0;
}

.ant-radio-group {
  width: 100%;
  display: block;

  label {
    width: 50%;
    text-align: center;

    span {
      pointer-events: none;
    }
  }
}

.smaller {
  margin: 14px auto 19px;
}

.am-number-keyboard-item.keyboard-confirm {
  color: #108ee9 !important;

  &:after {
    content: '€';
    color: white;
    font-size: 31px;
    transform: translate(-50%, -50%);
    position: absolute;
    display: block;
    left: calc(50% + 3px);
    top: 50%;
  }
}
