.ant-collapse-item {
  &.success .ant-collapse-header {
    border-left: #52c41a 5px solid;
  }

  &.warning .ant-collapse-header {
    border-left: #faad14 5px solid;
  }

  &.danger .ant-collapse-header {
    border-left: #ff4d4f 5px solid;
  }

  &.primary .ant-collapse-header {
    border-left: #1890ff 5px solid;
  }

  .ant-collapse-header > div {
    > div {
      display: inline;
    }

    span {
      display: inline-block;
      min-width: 30px;
      text-align: right;

      &:nth-of-type(2) {
        min-width: 0;
        margin: 0 12px;
      }
    }

    > .float-right {
      margin-left: auto;
    }
  }
}

.tiny.margin-top span {
  word-wrap: anywhere;
  margin-top: 11px;
}

.conf {
  border-bottom: 1px solid #d9d9d9;
  padding: 2px 0 2px 5px;

  > span {
    display: inline-block;

    &:first-of-type {
      width: 160px;
    }

    &:nth-of-type(2) {
      width: 100px;
    }

    &:last-of-type {
      margin-left: auto;
      float: right;
    }
  }

  &.success {
    border-left: #52c41a 3px solid;
  }

  &.warning {
    border-left: #faad14 3px solid;
  }

  &.danger {
    border-left: #ff4d4f 3px solid;
  }

  &:last-of-type {
    border-bottom: none;
  }
}
