.small {
  .ant-statistic-title {
    margin-bottom: -7px;
  }

  span {
    font-size: 20px;
    line-height: 1;
    margin-bottom: -3px;
  }

  &.suffix .ant-statistic-content-suffix {
    float: right;
    margin-top: 8px;
  }

  &.small-text {
    margin-bottom: 5px;

    .ant-statistic-content {
      font-size: 18px;
    }

    span {
      margin-bottom: -7px;
      font-size: 14px;
    }
  }
}

.tiny {
  line-height: 1.2 !important;
  margin-bottom: 7px;

  .ant-statistic-title {
    margin-bottom: -7px;
  }

  span {
    font-size: 14px;
    line-height: 1;
    margin-bottom: 0;
  }
}
