<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-block-heading" jhiTranslate="btcPaymentSystemApp.block.home.createOrEditLabel">Create or edit a Block</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="btcPaymentSystemApp.block.minedAt" for="field_minedAt" [ngbTooltip]="'btcPaymentSystemApp.block.help.minedAt' | translate">Mined At</label>
                    <div class="d-flex">
                        <input id="field_minedAt" type="datetime-local" class="form-control" name="minedAt" formControlName="minedAt" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="btcPaymentSystemApp.block.blockHeight" for="field_blockHeight" [ngbTooltip]="'btcPaymentSystemApp.block.help.blockHeight' | translate">Block Height</label>
                    <input type="number" class="form-control" name="blockHeight" id="field_blockHeight"
                           formControlName="blockHeight"/>
                    <div *ngIf="editForm.get('blockHeight')!.invalid && (editForm.get('blockHeight')!.dirty || editForm.get('blockHeight')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('blockHeight')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('blockHeight')?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="btcPaymentSystemApp.block.blockHash" for="field_blockHash" [ngbTooltip]="'btcPaymentSystemApp.block.help.blockHash' | translate">Block Hash</label>
                    <input type="text" class="form-control" name="blockHash" id="field_blockHash"
                           formControlName="blockHash"/>
                    <div *ngIf="editForm.get('blockHash')!.invalid && (editForm.get('blockHash')!.dirty || editForm.get('blockHash')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('blockHash')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="btcPaymentSystemApp.block.available" for="field_available">Available</label>
                    <input type="number" class="form-control" name="available" id="field_available"
                           formControlName="available"/>
                    <div *ngIf="editForm.get('available')!.invalid && (editForm.get('available')!.dirty || editForm.get('available')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('available')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('available')?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="btcPaymentSystemApp.block.estimated" for="field_estimated">Estimated</label>
                    <input type="number" class="form-control" name="estimated" id="field_estimated"
                           formControlName="estimated"/>
                    <div *ngIf="editForm.get('estimated')!.invalid && (editForm.get('estimated')!.dirty || editForm.get('estimated')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('estimated')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('estimated')?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="btcPaymentSystemApp.block.availableSpendable" for="field_availableSpendable">Available Spendable</label>
                    <input type="number" class="form-control" name="availableSpendable" id="field_availableSpendable"
                           formControlName="availableSpendable"/>
                    <div *ngIf="editForm.get('availableSpendable')!.invalid && (editForm.get('availableSpendable')!.dirty || editForm.get('availableSpendable')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('availableSpendable')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('availableSpendable')?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="btcPaymentSystemApp.block.estimatedSpendable" for="field_estimatedSpendable">Estimated Spendable</label>
                    <input type="number" class="form-control" name="estimatedSpendable" id="field_estimatedSpendable"
                           formControlName="estimatedSpendable"/>
                    <div *ngIf="editForm.get('estimatedSpendable')!.invalid && (editForm.get('estimatedSpendable')!.dirty || editForm.get('estimatedSpendable')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('estimatedSpendable')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('estimatedSpendable')?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
